* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* --bg-color: #E5E5E5;

    --text-color-light: hsl(240, 7%, 21%);
    --text-color-dark: hsl(0, 0%, 100%);

    --color-activate-one: hsl(194, 97%, 31%);
    --color-activate-two: hsl(0, 0%, 100%);

    --color-disabled-one: hsl(240, 9%, 89%);
    --color-disabled-two: hsl(240, 6%, 21%);

    --bg-primary-color: #e0e0e5;

    font-size: 62.5%; */


    --bg-light: #FFFFFF;
    --bg-dark: hsl(240, 5%, 7%);

    --base-color: 240;
    --bg-cards-light: hsl(240, 9%, 89%);
    --bg-cards-dark: hsl(240, 6%, 17%);
    --bg-cards-select-light: hsl(194, 97%, 31%);
    --bg-cards-select-dark: hsl(195, 74%, 15%);
    --controls-dark: hsl(240, 7%, 78%);

    --text-light: hsl(240, 6%, 21%);
    --text-dark: #FFFFFF;

    font-size: 62.5%;
}



body {

    background-color: var(--bg-light);
    color: var(--text-light);
    font-family: 'Roboto', sans-serif;

    font-size: 12.6rem;
    /* line-height: 14.8rem; */
    /* identical to box height */
/* 
    text-align: center;
    text-transform: uppercase; */

    /* display: grid;
    min-height: 100vh; */
}

header{
    position: absolute;
    top: clamp(4rem, 4.7vw, 6rem);
    right: clamp(4rem, 4.7vw, 6rem);
}

header button svg{
    width: clamp(2.7rem, 3.1vw, 4rem);
    height: auto;
}

.hide{
    display: none
    ;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.active>svg>path:nth-child(1) {
    fill: hsl(194, 97%, 31%);
}

.active>svg>path:last-child {
    fill: white;
}


main{
   display: flex;
   justify-self: center;
   /* align-self: end; */
   margin-top: 19.6rem;
   margin-left: 23.3rem;
   place-items: center;
}


#pomodoro{
    font-size: clamp(12.6rem, 4rem + 10vw, 9.9rem);
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-right: 19.2rem;
    gap: 1.7rem;
}

.timer{
    display: flex;
    
}

.controls{
    display: flex;
    gap: 4rem;
}


main #effects{

    /* position: relative; */

    display: grid;
    
    gap: 3.2rem;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card-forest, 
.card-rain, 
.card-coffee-shop, 
.card-fireplace {
    position: relative;
}




input[type="range"] {
    appearance: none;
    
    width: clamp(6rem, 7vw, 9rem);
    cursor: pointer;

    background: transparent;

    position: absolute;
    /* bottom: clamp(1.6rem, 1.9vw, 2.4rem); */
    bottom: 7rem;
    left: calc(50% - clamp(6rem, 7vw, 9rem) / 2)
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    
    width: clamp(6rem, 7vw, 9rem);
    height: clamp(.3rem, .3vw, .4rem);
    border-radius: .5rem;

    background-color: hsl(240, 6%, 21%);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    
    width: clamp(1.1rem, 1.3vw, 1.6rem);
    height: clamp(1.1rem, 1.3vw, 1.6rem);
    border-radius: 50%;
    
    background-color: hsl(240, 7%, 21%);

    position: relative;
    top: calc(50% - clamp(1.1rem, 1.3vw, 1.6rem) / 2);
}

main div.active input[type="range"]::-webkit-slider-runnable-track,
main div.active input[type="range"]::-webkit-slider-thumb {
  background-color: #FFFFFF;
}